[2013-12-17 14:13] discordier opened #2 "Create backup of composer.json before manipulating it."
In https://github.com/contao-community-alliance/composer-plugin/blob/master/src/ContaoCommunityAlliance/Composer/Plugin/ConfigManipulator.php#L54 there should be the creation of an backup copy as in the composer client backend module to keep the previous values available if the writing should fail due to any problems.

[2014-02-13 13:43] HellPat opened #3 "Zusammenführen von Templates respektive "userfiles""
Es wäre toll wenn man Verzeichnisse von Templates auch zusammenführen könnte.
In meinem expliziten Anwendungsfall versuche ich ein Theme (Daten und Templates) per  Composer installierbar zu machen.

[code]

Userfiles geht leider nur für den Upload-Path.
Wenn ich aber meinen Templates-Ordner komplett überschreibe gehen User-Templates für das Theme verloren.

[2014-02-13 17:20] #2 closed, assigned to discordier

[2014-02-26 12:42] Aybee opened #5 "Erweiterung wird nicht gefunden"
In Anlehnung an https://community.contao.org/de/showthread.php?48477-Meine-Erweiterung-wird-nicht-gefunden
Meine Erweiterung BackendThemeExtended wird nur gefunden, wenn ich nach **contao-legacy/backendthemeextended** suche. Sie sollte aber gefunden werden, wenn ich auch z.B. nach theme, backendtheme, datepicker, sticky, backendthemeextended und evtl. auch noch nach Wörtern in der Beschreibung suc

[2014-02-28 15:11] dmolineus opened #6 "Does not handle runonces"
Caused by adding an unprefixed paths the plugin does not handle runonces because the checking if the file exists will fail.

https://github.com/contao-community-alliance/composer-plugin/blob/develop/src/ContaoCommunityAlliance/Composer/Plugin/AbstractInstaller.php#L85
https://github.com/contao-community-alliance/composer-plugin/blob/develop/src/ContaoCommunityAlliance/Composer/Plugin/RunonceManage

[2014-03-07 16:33] discordier opened #7 "Unit tests creating and removing files might fail on travis-ci due to fstatcache."
This issue is more of an reminder what exactly failed in #4 in the unit tests.

We need to call `clearstatcache(true);` when on travis. Composer does already call `clearstatcache();` in their Filesystem, but the real_path_cache must be cleared on travis as well.
Otherwise the file info is outdated causing `is_dir()` to report `true` for already deleted files.
The development machines of @tristanli

[2014-03-07 16:33] #7 closed, assigned to discordier

[2014-03-10 14:16] #3 closed, assigned to nobody

[2014-03-15 19:00] AgentCT opened #9 "Could not completely delete....."
Das Problem aus dem Composer Core https://github.com/contao-community-alliance/composer/issues/125 schlägt sich jetzt im Composer-Plugin nieder.

Nun bekomme ich folgende Fehlermeldung:

Could not completely delete /composer/vendor/contao-community-alliance/composer-plugin, aborting.

Ergänzung:
Das Einspielen der aktuellen Version hat keine Abhilfe gebracht.

[2014-03-26 05:57] backbone87 opened #10 "removeObsoleteCopies fails on windows due to mixed dir separators"
das problem hatte ich schon mal vor einer ganzen weile angesprochen und damals auch schon das problem gefunden.
habe heute mal wieder meine lokale testumgebung am laufen gehabt und einen quickfix dafür gebaut. folgendes habe ich vor dem array_diff in https://github.com/contao-community-alliance/composer-plugin/blob/develop/src/ContaoCommunityAlliance/Composer/Plugin/CopyInstaller.php#L130 eingefüg

[2014-03-26 06:01] backbone87 opened #11 "removing packages does not cause the modules in the contao hierarchy to be deleted (windows)"
unter windows:
wenn ich ein paket entferne, werden die shadow copies in system/modules/my-module nicht mitgelöscht. könnte ein ähnliches pfad-normalisierungs-problem sein wie mit den obsolete copies beim updaten.

bsp config:

[code]

[2014-03-30 17:31] #6 closed, assigned to discordier

[2014-04-16 00:12] #5 closed, assigned to discordier

[2014-04-24 12:22] seaneble opened #14 "Error handler does strange things"
Hello,

I noticed strange things when updating an Isotope installation from _2.1.0 RC1_ to _2.1.0_ with  Composer (backend integration) in a PHP 5.4 environment:

1. The Isotope internal upgrade logic is called by the ```RunonceExecutor```
2. Somewhere, this logic asks Contao for ```Environment::scriptName```
3. The method uses bad code:
[code]
This generates a ___PHP Notice___ because one should

[2014-05-14 11:35] #9 closed, assigned to discordier

[2014-05-24 09:03] leofeyer opened #15 "Nutzung für das Distributions-Repository"
Ich habe gestern ja noch lange mit @discordier darüber gesprochen, wie man Composer innerhalb des zukünftig zu verwendenden Distributions-Repositorys (`contao/contao`) anstatt Git-Submodules einsetzen könnte. Dabei kam es zu ein paar kleineren Problemen, die ich weiter unten beschreibe. Zunächst das Setup:

[code]

Die `composer.json` aus dem Root (`contao/contao`):

[code]

Die `composer.json` de

[2014-05-24 09:13] leofeyer opened #16 "Flags werden in `$config->get('preferred-install')` nicht berücksichtigt"
In der `composer.json` ist die Option "preferred-install" nicht gesetzt. Stattdessen wird die Option auf der Kommandozeile übergeben:

[code]

Leider werden diese Flags nicht berücksichtigt:

[code]

[2014-05-27 15:49] leonexcc opened #17 "Setzt man in der composer.json das Contao-Root auf "." werden Symlinks nicht korrekt gesetzt"
Wenn man in einer composer.json folgendes verwendet:

[code]

wird in den Symlinks ein ../ zu viel hinzugefügt. Das liegt daran, dass er in der calculateLinkTarget das ./ als extra Verzeichnisebene zählt.

Mögliche Lösung in Zeile 85 SymlinkInstaller.php in der updateAllSymlinks-Funktion:

[code]

Leider geht "" als root auch nicht.

[2014-05-28 15:40] #15 closed, assigned to nobody

[2014-05-28 23:56] #17 closed, assigned to discordier

[2014-06-19 12:28] leofeyer opened #18 "components installation path has been initialized"
[code]

Is it necessary that this entry is enforced in the `composer.json` file? Do I need it for the distribution repository?

[2014-06-23 05:29] tristanlins opened #19 "Move configuration update into the client?"
I wan't to move the ConfigurationManipulator from plugin to the client, this should solve some issues like #18

[2014-06-23 05:33] tristanlins opened #20 "Do not inject the legacy repository."
Injecting the legacy repository works, but only if the plugin is installed. If I need to reinstall, I cannot simply remove `vendor` and do an update - which is the recommended way in composer. Composer will complain me, that it cannot find the legacy packages :-(

So I wan't to re-add the legacy repository to the `composer.json` to make it more fail-proof.

[2014-07-07 18:34] leofeyer opened #21 "Wrong line break in the Composer output"
Here's an example output of an arbitrary `composer install` execution:

[code]

Can you tell how many files have been installed for the `module-calendar` package? Why is there a line break **before** the line `- installed 216 files` and not **after** it? Right now it looks like the line belonged to the `module-comments` package.

[2014-07-23 09:51] tristanlins opened #22 "Synchronize only after a successful installation / install into a temporary vendor before "activate""
If the installation was not successful (e.g. timeout or git errors), some incomplete packages or outdated autoload informations are left that break the contao installation.

I see two possible solutions:

**synchronize the files only after a successful installation**
This will only work in non-develop mode and cannot work around the incomplete autoload issue.

**install into a temporary vendor dir

[2014-09-06 00:14] ways2web opened #23 "Development Releases verankern"
Development Releases können nicht verankert werden, wäre toll wenn das ginge, sofern möglich.

Besonders bei der frequenz von MetaModels updates wäre das sehr hilfreich, damit man laufende Projekte nicht der gefahr aussetzt sie abschalten zu müssen.

[2014-09-06 13:52] #23 closed, assigned to nobody

[2014-10-17 00:08] #22 closed, assigned to tristanlins

[2014-10-17 00:32] tristanlins opened #24 "Use the installer depending on the installation source of each package"
Currently we read the global installation source mode and use the suitable installer for all packages. We should decide which installer we use on each package and it's installation source. This should also solve #16.

[2014-10-17 01:01] #18 closed, assigned to tristanlins

[2014-10-17 01:12] #16 closed, assigned to discordier

[2014-10-17 01:53] tristanlins opened #25 "Write journal file"
The plugin log the activities into a separate `journal.json`:

[code]

This could be done through the [post install](https://github.com/composer/composer/blob/master/src/Composer/Script/ScriptEvents.php#L86-L93), [post update](https://github.com/composer/composer/blob/master/src/Composer/Script/ScriptEvents.php#L104-L111) and [post uninstall](https://github.com/composer/composer/blob/master/src/Co

[2014-10-17 02:43] tristanlins opened #26 "Write and use a "mirror" file"
The current installer walk through the source paths (in `vendor`) and build a "map" of files that must linked or copied. This map is dropped after the linking/copying is done.
@backbone87 suggested that we should "remember" which files are copied or linked.

This gives us some more advantages:
- Updates are easier, because we know which files are linked or copied.
- We can remove garbage files, e.

[2014-10-27 06:11] wolfgangwalther opened #28 "Windows: relative symlinks not supported"
[SymlinkInstaller->updateAllSymlinks(...)](https://github.com/contao-community-alliance/composer-plugin/blob/master/src/ContaoCommunityAlliance/Composer/Plugin/SymlinkInstaller.php#L107) fails on Windows with

[code]

if provided with a correctly calculated relative target path.

PHP's `symlink()` function seems not to support relative paths on Windows platforms. (see [comment on php.net](http://p

[2014-10-27 20:06] tristanlins opened #30 "Load the Housekeeper class"
Situation:
- plugin is installed
- plugin get uninstelled

Result:
- Housekeeper class not found

The plugin is loaded, register the Housekeeper, but if the plugin get uninstalled the housekeeper does not exist anymore and a "Housekeeper class not found" is thrown.

Solutin:
- do a `class_exist("...\Housekeeper");` if the plugin is loaded, so the class is loaded into memory before it gets uninstal

[2014-10-28 02:00] #28 closed, assigned to nobody

[2014-11-03 14:49] tristanlins opened #31 "Warn about not-copied userfiles"
Userfiles are designed to not overwrite by the plugin. But there should be a warning that a file is not updated when updating.

[2014-11-17 07:24] #20 closed, assigned to tristanlins

[2014-11-24 22:04] Zeromax opened #33 "Unused double argument"
https://github.com/contao-community-alliance/composer-plugin/blob/76cc4721583a1c4983734f116090f5cb351b362e/src/ContaoCommunityAlliance/Composer/Plugin/AbstractInstaller.php#L177

[2014-11-25 00:07] Zeromax opened #34 "is_link does not work correct under php with windows"
The Problem is, that the `is_link` returns always `false`.

That is realy weird. So I haven't found a usefull solution for now. Any Ideas?

[2014-11-25 13:47] Toflar opened #35 "Local repositories don't work"
Hey guys,

It seems like the plugin does not support local repositories.
I've added

[code]

and when I update in the back end, it tells me it could not find a composer.json in "/absolute/path/to/my/git/repository".
However when I `cd` to `TL_ROOT/composer` and call `composer update` on my CLI manually, it works fine.

[2014-11-25 18:51] #35 closed, assigned to nobody

[2015-01-30 14:32] dmolineus opened #37 "Plugin pollutes non contao-module packages"
I have a package which has the type `library`. When calling `composer update` the composer-plugin (also the client, I don't know) modifies the `composer.json`. The library itselfs has no dependency of the composer plugin but requires another package which requires the plugin.

Following changes are made:
- Add legacy and package repository. The added package repository stops Composer to work as th

[2015-03-10 15:47] amenk opened #38 "Update of module with source mapping to the root folder kills the whole installation"
[code]

I guess the problem is the `"":""` source map. https://bitbucket.org/cgo-it/contao-simple_ajax/src/0742c6dec63200cd089cbf5d527e330e08af7eea/composer.json?at=master

[2015-04-17 11:23] dmolineus opened #40 "Error handling for runonces"
The RunonceExecutor uses an own error handler which throws always an ErrorException no matter which exception occured. This leads to unexpected broken runonce scripts because Contao does not avoid notices and so one.

[2015-05-01 20:54] BugBuster1701 commented on #14
Ist das immer noch nicht behoben?
Contao 3.5.0-RC1, bei Klick auf Pakete aktualisieren massenweise Notice Zeilen auf dem Bildschirm
```Notice: Undefined index: precision...```
```Notice: Undefined index: length```
```Notice: Undefined index: deleteConfirm```
```Notice: Undefined index: dataContainer```
```Notice: Undefined index: ALTER_ADD```
usw.
im Moment von ```do=composer&update=database```
Du

[2015-05-01 20:55] fritzmg commented on #14
Yes, still present and still a problem when updating Isotope.

[2015-05-01 21:08] BugBuster1701 commented on #14
Please correct this before the Contao 3.5.0 stable release!

[2015-05-02 05:32] dmolineus commented on #40
Duplicate of #14.

[2015-05-02 05:33] #40 closed

[2015-06-24 12:01] aschempp commented on #14
Can we fix this asap please? The fix is fairly easy. `RunonceExecutor::handleError` must look like this:

[code]

This will restore the default core behavior.

[2015-06-24 12:15] aschempp commented on #14
Ok that if-method doesnt seem to do the trick, but I'm pretty sure @discordier can come up with the right patch :-)

[2015-06-24 12:25] BugBuster1701 commented on #14
Der Fix #42 wurde bereits gemerged in den develop Brunch. Muss "nur" noch ne neue Master kommen :-)
Laut Tags wäre das dann mittlerweile die 2.3.5

[2015-06-24 12:29] BugBuster1701 commented on #14
Bzw. zu packagist.org, wenn ich das richtig sehe hat der Master Brunch die 2.3.5, aber auf packagist.org gibt es nach wie vor nur die 2.3.3

[2015-06-26 19:26] discordier commented on #14
Apparently the notification between packagist and github was broken somehow. I just forced a manual sync and the new version is now available.

[2015-06-26 19:26] #14 closed

[2015-06-26 21:35] BugBuster1701 commented on #14
:+1:

[2015-07-14 12:39] #30 closed

[2015-07-14 12:39] #31 closed

[2015-09-06 08:19] fritzmg commented on #34
Are you sure about that? In my testing `realpath` on a real folder returns just the path to that folder, not false.

[2015-10-06 17:14] qzminski opened #44 "Problem with contao/core package"
Contao version 3.5.2

I have a huge problem with the contao/core package being constanly installed on Windows Server. Digging into the details, when I initially run the composer update command the contao/core dependencies are being downloaded and afterwards I get an exception:

https://github.com/contao-community-alliance/composer-plugin/blob/master/src/ContaoCommunityAlliance/Composer/Plugin/Plug

[2015-10-07 10:01] discordier commented on #44
I have no clue why this is getting installed on your site. It was definately working so far. However you are the second person within one week where this happens. Therefore there might have been a change in composer itself. I was unable to reproduce this issue so far... any more details you could provide would be nice.

[2015-10-07 11:22] aschempp commented on #44
We have tried to debug this for several hours now. The plugin is correctly injecting the Contao version and requirements, but somehow the file is still being downloaded. We also found a section in the manual saying that a metapackage does not need a dist URL, but that did not seem to make a difference.

[2015-10-07 12:00] discordier commented on #44
Could you try with an old(er) composer.phar?

[2015-10-07 12:02] qzminski commented on #44
I have rolled back the composer.phar update on unix server and contao/core was not removed but I am not sure if it would be installed again though.

[2015-10-07 12:20] qzminski commented on #44
Right now I have installed Contao 3.5.0 and apparently the issue is there - contao/core with its dependencies is installed. The contao/core package is marked as **project**. Re-run does not change anything and there is no warning/exception thrown.

However, on Contao 3.5.3 the contao/core is **not** installed but its dependencies are. I do get the warning:

```Warning: Contao core was about to get

[2015-10-07 12:22] aschempp commented on #44
did it install Contao 3.5.3 in the vendor folder when you had 3.5.0 in the root?

[2015-10-07 12:23] qzminski commented on #44
Yes it did install Contao 3.5.3 in the ```composer/vendor``` folder. I checked the ```constnants.php``` file and it is clearly 3.5.3

[2015-10-07 16:58] discordier commented on #44
Ok, I have now 3 People experiencing this issue of which 2 have upgraded their Contao core (via liveupdate) and you are opposing as you have an outdated version.

Therefore I wonder if it does have anything to do with having upgraded/downgraded or rather the issue is simply due to having a core version different than the one "it had before" and therefore composer tries to install that one back aga

[2015-10-07 17:36] qzminski commented on #44
Hmm that's weird because I have now performed the composer installation on serveral 3.5.3 systems and it did **not** download contao/core. However I did not update those systems via LiveUpdate.

During the debugging with @aschempp we discovered that during the first update the local package of contao/core was type of ```metapackage``` and the exception was thrown. However upon second update, the c

[2015-10-07 17:43] discordier commented on #44
@qzminski Could you provide the composer.lock and installed.json or at least the version numbers from within there?

[2015-10-07 17:47] Ainschy commented on #44
Hier die composer.lock und die installed.json

[2015-10-07 17:49] qzminski commented on #44
Raw Contao 3.5.0 system with composer plugin installed:

https://gist.github.com/qzminski/33bdf61af24fb979daac

[2015-10-07 17:58] discordier commented on #44
Mhhh... very strange... I am still unable to reproduce it...

[2015-10-07 18:06] qzminski commented on #44
Shall I create a testing environment for you?

[2015-10-07 19:05] Ainschy commented on #44
i have rename: composer/vendor in composer/vendor_old then "update packages" ...

Then came a Warning the he has found contao in the root dir. After i push the "update packages" again all looks fine.

Sry for my english

[2015-10-08 03:18] backbone87 opened #45 "Disabling packagist causes exceptions in composer plugin"
[code]

Thats because there is no "type" key in the entry disabling packagist:
https://getcomposer.org/doc/05-repositories.md#disabling-packagist

[2015-10-08 03:38] #45 closed

[2015-10-08 12:20] discordier commented on #44
@frontendschlampe and I are on it right now.

the problem does not exists with composer/composer@80f1e43

So the problem is in between https://github.com/composer/composer/compare/80f1e43...7a9eb02

[2015-10-08 12:28] frontendschlampe commented on #44
We need a ``composer.phar`` more recent than 24th of september which is still working to pinpoint this.

[2015-10-09 10:12] aschempp commented on #44
Mine is from August… can’t help here.

[2015-10-15 09:47] dmolineus commented on #44
Started some debugging and compiled some composer.phar at own. It seems to be between:
https://github.com/composer/composer/compare/15face54...0adcab7

If you want to get the composer.phar just tell me. Gonna have a deeper look.

[2015-10-15 10:03] dmolineus commented on #44
I tracked it down:
 - The semver classes got extracted to a separate lib.
 - The new constraint class is `Composer\Semver\Constraint/Constraint` but the plugin uses `Composer\Package\LinkConstraint\VersionConstraint`
 - The version constraint extends the new provided class.

Here is the point there it breaks:
https://github.com/composer/semver/blob/master/src/Constraint/Constraint.php#L159

 - The

[2015-10-16 10:55] fritzmg commented on #44
Is there a workaround? I currently experience the same problem in one installation.

[2015-10-16 11:23] dmolineus commented on #44
Disable the autamtic composer.phar update and use an older version of the composer.phar. The last one which works at the moment is commit `15face5432d7b7334db6ac69fac0190971cafa6e`.

[2015-10-17 16:50] discordier commented on #44
So how shall we proceed here? Changing to class_exists check and use the new class is enough?

[2015-10-17 20:02] dmolineus commented on #44
It think this should be enough. So we don't have to wait until composer fixes the issue itself.

[2015-10-20 16:37] discordier commented on #44
Could you please test the hotfix branch on your installations @frontendschlampe, @qzminski?

[2015-10-21 05:41] frontendschlampe commented on #44
It's working for me! thx

[2015-10-21 05:52] discordier commented on #44
Should be fixed with 2.3.7.
Thanks for testing and providing so much input to all of you.

[2015-10-21 09:13] qzminski commented on #44
Works for me as well, good job!

[2015-10-21 11:34] Toflar commented on #44
Same here, works for me now :+1:

[2015-10-24 08:46] xantippe commented on #44
update at my issue https://github.com/contao-community-alliance/composer-client/issues/266

I had make a downgrade to Contao 3.5.2 per LiveUpdate and after them, I can update the MetaModels Packages... I update per LU to 3.5.4 and I see the same error message!

[2015-10-24 13:21] discordier commented on #44
You have to update the plugin only before doing anything else.

[2015-10-24 14:11] xantippe commented on #44
Composer-Client wurde vorher aktualisiert und Cache gelöscht - bin bei
 	contao-community-alliance/composer-client 	0.15.4

[2015-10-25 18:52] discordier commented on #44
Das plugin muss aktualisiert werden, nicht der Client. Der Bug war im plugin.

[2015-10-25 21:47] xantippe commented on #44
wie aktualisiere ich das Ding?

[2015-10-26 14:56] Floxn commented on #44
Ich muss es leider auch auf deutsch machen, sonst wäre es glaube ich unverständlich.

Ich habe im Moment das gleiche Problem. Zu meiner Sachlage:
Ich habe alle Pakete auf einmal aktualisiert. Danach wollte ich eine Extension installieren bei der eine Fehlermeldung auftauchte. Beim prüfen fand ich dann ebenfalls den Core in "composer/vendor" ordner.
Da ich bei diesem System in der Nacht immer ein k

[2015-10-26 15:07] dmolineus commented on #44
Ich habe hier eine Vorgehensweise beschrieben, wie man ein defektes System wieder zum Laufen bringt. https://community.contao.org/de/showthread.php?59625-Composer-installiert-Visitors-nicht&p=387837#post387837

Es kann sein, dass man composer Update hier zweimal anstoßen muss.

[2015-10-26 15:10] fritzmg commented on #44
@xantippe @Floxn you could simply download the latest release here on GitHub and then copy the content of the `composer-plugin-2.3.7` folder within the archive to `composer/vendor/contao-community-alliance/composer-plugin` and overwrite the existing content.

However, this will still prevent you from updating the packages, since Composer will detect changes in the source folders. You need to enabl

[2015-10-26 15:48] Floxn commented on #44
yes, no it´s working. Thanks for your help!

[2015-10-27 06:58] xantippe commented on #44
@fritzmg: sorry, ich bekomm´s nicht hin: https://community.contao.org/de/showthread.php?59459-Composer-versucht-Core-Update-durchzuf%FChren&p=388711#post388711

[2015-11-04 09:06] xantippe commented on #44
hmmm :-(
ich habe unter Contao 3.5.4:
* composer-plugin mit Version 2.3.8 von Githug bezogen und ```composer\vendor\contao-community-alliance\composer-plugin``` aktualisiert
* ```composer\cache``` gelöscht
* es kommen die Fehlermeldungen
[code]
* Composer Plugin aktualisiert - Meldung "Warning: SNI support not available, OpenSSL version too old. Host verification has been deactivated." und
"Compos

[2015-11-04 10:55] fritzmg commented on #44
Die Deprecated Notice bekommst du weg, indem du den composer-client auf 0.16.0-beta1 aktualisierst.

Da bei dir der contao/core schon installiert wurde, musst du nun bspw. wie hier vorgehen:
* https://community.contao.org/de/showthread.php?59625-Composer-installiert-Visitors-nicht&p=387837&viewfull=1#post387837
* https://community.contao.org/de/showthread.php?59459-Composer-versucht-Core-Update-du

[2015-11-04 12:17] xantippe commented on #44
hatte zwar kein Contao in /composer/vendor aber...

ich habe nun wie in https://community.contao.org/de/showthread.php?59459-Composer-versucht-Core-Update-durchzuf%FChren&p=388725&viewfull=1#post388725 die zwei Ornder gelöscht auf der Konsole composer.phar update ausgeführt

hat eine Menge installiert - aber die Meldung folgte

[code]

[2015-11-04 12:22] MacKP commented on #44
@xantippe wie weiter oben beschrieben dann einfach noch mal machen. Dann sollte das durchlaufen. Hatte ich auch.

[2015-11-04 13:07] xantippe commented on #44
o.k. - hat funktioniert...

[2015-11-30 17:27] cboelter opened #47 "Plugin does not support composer repository-type path"
I tired to use type: "path" for using my git-repository as an symlink, for the vendor folder it works fine, but the system/modules ordner is not linked correctly. It inlcudes the absolute path to the repo.

Any idea?

[2015-12-02 17:53] discordier commented on #47
Can you elaborate this a little?

[2015-12-24 08:31] septentrio opened #48 "Out of Memory"
I don't know wether if it's a composer issue but when i try to install contao bootstrap bundle, i get an "Out of Memory error"

I'm using Contao 3.5.6 with composer 0.16 - hosted on a 1&1 shared server (maximum allowed memory for php : 81 MB)

Any idea ?

[2015-12-24 09:44] discordier commented on #48
Not much we can do about this.
Try raising the minimum stability to stable in the settings to decrease the amount of candidates.

[2015-12-24 10:52] Toflar commented on #48
81 MB is just not enough for complex composer tasks...

[2015-12-24 11:09] septentrio commented on #48
@discordier Setting Minimum stability to "Stable" seems to work. Thanks

[2016-01-13 16:00] fritzmg opened #49 "composer-plugin can destroy a contao installation"
If a package is installed/required via the Contao package manger (or manually via `composer update`) which has the following data in its composer.json:
[code]
(or similar) the `composer-plugin` will "self destruct" the Contao installation, i.e. it will (try to) delete the content of the __whole__ Contao installation.

I can post testing instructions if necessary.

[2016-01-13 16:25] discordier commented on #49
See #38.

[2016-01-13 16:27] fritzmg commented on #49
Ah sorry, didn't notice.

[2016-01-13 16:33] #49 closed

[2016-01-20 10:30] aschempp opened #50 "[2.4] contao/core-bundle locking"
The release/2.4 version allows to lock the core-bundle when displaying dependencies. That should not be possible.

[2016-01-20 17:41] discordier commented on #50
This is an issue of the client. It has nothing to do with the plugin.

[2016-01-20 17:42] aschempp commented on #50
You’re right

[2016-01-27 00:41] discordier commented on #50
Ref: https://github.com/contao-community-alliance/composer-client/issues/275

[2016-01-27 00:41] #50 closed

[2016-02-13 17:09] fritzmg opened #52 "composer-plugin tries to put a runonce.php into app/Resources/contao/config"
I tried to make one of my extensions installable in Contao 3 as well as Contao 4 for the first time. I added/changed the `composer.json` of the extension package accordingly:
[code]
then required it in the `composer.json` of the Contao 4.1 installation. When running a `composer update` afterwards, the following error happens:
[code]
For some reason the `composer-plugin` tries to put a `runonce.php

[2016-02-14 09:01] aschempp commented on #52
Yes this is intentional. As Contao will only execute `runonce.php` if they are located in your module's config folder, we need a wrapper that executes the files defined in your composer.json. That wrapper is putting a `runonce.php` in `App/Resources/config/config` for it to be executed.

Is there a write permission issue to put the file in place?

[2016-02-14 09:57] fritzmg commented on #52
`file_put_contents` fails because the directory `app/Resources/config/config` simply does not exist. It does not create the directory structure automatically, you have to do that with `mkdir(…, …, true)` yourself.

[2016-02-14 10:24] fritzmg commented on #52
That's why I originally thought `app/Resources/contao/config` is the wrong path, since that directory does not exist and so far I haven't seen another Symfony application (I think), which puts anything like that into the `/app` directory.

But Contao does indeed look for `runonce.php` files there:
[code]
https://github.com/contao/core-bundle/blob/4.1.0/src/Resources/contao/classes/Backend.php#L254

[2016-02-15 07:54] #19 closed

[2016-02-15 11:45] aschempp commented on #52
Should be fixed with https://github.com/contao-community-alliance/composer-plugin/commit/fb28dcdde36a09fe0d3b4b51f088b85ee711547a

@discordier please review, merge and publish.

[2016-02-15 12:16] fritzmg opened #53 "RuntimeException: X is not a link to Y (due to directory separator issue)"
I tried to uninstall a package (which is a Contao 3 extension made compatible with Contao 4). When the composer-plugin tries to remove the symlink from the `/system/modules` directory, the following error happens (under Windows):
[code]
However, that error message is not correct, here is the `dir /a` output from the `/system/modules` directory:
[code]
As you can see contrary to what the error mess

[2016-02-15 12:27] fritzmg opened #54 "missing semicolon in runonce.php"
When a `runonce.php` is created and `/web/install.php` is called, the following error appears:
[code]
This is because the content of the `runonce.php` looks like this:
[code]
i.e. it misses a semicolon at the end.

[2016-02-15 12:32] fritzmg commented on #52
Seems to work as far as I have tested it :)

[2016-02-15 12:47] kikmedia commented on #48
Well, that works, But there is no fun at all.

On a machine with 1GB I get the following notice:
![mm-wtf](https://cloud.githubusercontent.com/assets/1022895/13049071/97eea060-d3ea-11e5-9961-a6751bd96919.jpg)

[2016-02-15 12:55] discordier commented on #48
I have seen those a lot in the last week. I wonder why the memory usage of composer exploded from then on.

[2016-02-15 13:04] kikmedia commented on #48
Seems to be some kind of recursion,

[2016-02-15 13:11] discordier commented on #48
Internally, everything is only linked by reference in composer. Therefore this should not be that much of an issue.
What does composer say when you run from console and enable profiling?

[2016-02-15 13:31] kikmedia commented on #48
Here we go:
[20160215-composer-log.txt](https://github.com/contao-community-alliance/composer-plugin/files/130821/20160215-composer-log.txt)

[2016-02-15 14:14] aschempp commented on #54
Thanks for the report, fixed this too.

[2016-02-15 14:14] #54 closed

[2016-02-15 14:14] #52 closed

[2016-02-15 14:29] aschempp commented on #53
Please try the fix in 6637140639a300bf4d68f5b6b64b6778fc65a8d0

[2016-02-15 15:35] fritzmg commented on #53
Yep, seems to work just fine :)

[2016-02-15 15:51] #53 closed

[2016-02-16 03:37] discordier commented on #48
Interesting, apparently the versions from `symfony/cache` let the usage explode from 346.9MB to 797.0MB

[2016-02-16 12:38] kikmedia commented on #48
Even if the cache is empty ...

Switching to stable releases cures the pain only for a short while.

[2016-02-16 12:41] discordier commented on #48
Could you share your composer.json with me?

[2016-02-16 12:58] kikmedia commented on #48
Of course:

    "name": "local/website",
    "description": "A local website project",
    "type": "project",
    "license": "proprietary",
    "require": {
        "bugbuster/banner": ">=3.5.4.0,<3.6-dev",
        "contao-community-alliance/composer-client": ">=0.16.2.0,<0.17-dev",
        "contao-legacy/easyupdate3": "3.3.2.9008",
        "contao-legacy/hc_mailchimp": "3.0.1.6006-RC",
        "c

[2016-02-17 09:59] kikmedia commented on #48
It seems that there are some workarounds, BUT ...

As @Toflar stated in https://community.contao.org/de/showthread.php?61319-Composer-m%F6chte-1-GB-RAM-haben&p=399460&viewfull=1#post399460 (and some discussions at the Composer issue tracker gave some hints into the same direction), the problem _seems to be_ that Composer tries to track down an enormous amount of dependencies during the update proc

[2016-02-17 10:02] Toflar commented on #48
It's not a problem of Contao either. It's just a logical question of dependency constraints. I think we should simply try to track down the source of this memory explosion in composer and then do a proper issue report there and see what happens when the PHP community drops in.

[2016-02-17 18:02] discordier commented on #48
Which is exactly what I am and have been doing so far. Sadly this is hard to track down.

[2016-03-04 08:23] Defcon0 opened #55 "SSL issues"
Hello folks,

due to a penetration test on one of our websites we now must restrict internet access for the web server to addresses on a whitelist. For http everything works fine, just https won't work. When updating packages, I get the following error:

Now the responsible hoster says, we must pass the -k parameter to every curl call. The equivalent in php curl should be `curl_setopt($ch, CURLOPT

[2016-03-04 18:59] discordier commented on #55
First off, no administrator in their right minds would suggest to disable peer verification as when you do so, you could skip ssl entirely as you have no idea who the called party is. See [curl](https://curl.haxx.se/libcurl/c/CURLOPT_SSL_VERIFYPEER.html) documentation for this flag.

We are only setting this flag on systems where SNI is not available (see contao-community-alliance/composer-client

[2016-03-04 19:34] Defcon0 commented on #55
Big thanks for clarification. I also thought, this behavior of the hoster is quite suspect. I'll complain about that on monday. I think, the problem is that the communication is done by some proxy and therefore they needed some self signed certificate.

Anyway now I see, that this rather belongs to composer itself.

[2016-03-04 19:34] #55 closed

[2016-03-11 22:03] JLBA commented on #44
Hi everyone,

Don't know if you fixed the problem but I'm experiencing it in a Contao 3.5.8 local installation (MAMP).

And another strange message :
[code]
Why does-it ask for contao/core-bundle 4.x.x ?

[2016-03-12 07:25] aschempp commented on #44
@JLBA no you're not. The error message you posted earlier tells me you're trying to install `lionel/coin-slider 2.0.0` which is only compatible with Contao 4.

This issue has been fixed in version 2.5

[2016-03-12 07:25] #44 closed

[2016-03-12 07:25] aschempp commented on #44
Sorry, version 2.4 I mean

[2016-03-12 08:22] JLBA commented on #44
Ok. Thanks.
JL Test
jltest@free.fr

Le 12 mars 2016 à 08:25, Andreas Schempp <notifications@github.com> a écrit :

[2016-03-21 19:57] Zeromax commented on #34
I think that this is also resolved by using php-fcgi on xampp:
https://github.com/contao/core-bundle/issues/208#issuecomment-138114929

[2016-03-21 19:57] #34 closed

[2016-05-20 12:00] BugBuster1701 opened #56 "Plugin does not support Symfony 3.0.x"
Try to install in Contao 4.2.0-RC1
[code]

[2016-05-23 10:01] aschempp commented on #56
Fixed in 3.0.2 hotfix branch.

[2016-05-23 10:01] #56 closed

[2016-07-04 10:14] discordier commented on #33
Meanwhile fixed

[2016-07-04 10:14] #33 closed

[2016-07-11 19:00] discordier opened #58 "Regression of #43"
@aschempp I guess with your rewrite of the plugin we now have a regression of #43 here.
Symlinks from source will not get detected and skipped.

I think we still need this check.

However, as you are now only symlinking the top levels (and not file wise anymore), contained symlinks will pass undetected and therefore might break.

Am I correct on this one?

[2016-07-12 06:55] aschempp commented on #58
I think what @ausi does in his extensions is simply not supported. If your extension is Contao 3, then use the Contao 3 structure and copy them to system/modules. There's no need for symlinks…

[2016-07-13 03:21] discordier commented on #58
I know and I do not want to support it.
Quite the opposite, the 2.4 version detected his dangerous approach and REFUSED to create symlinks where the source are symlinks.

The new version does NOT detect this and happily symlinks the stuff over and therefore potentially links bullshit (not so bad) or even links to some security relevant locations (pretty bad).

My idea was to recursively scan the l

[2016-07-13 12:13] aschempp commented on #58
so you want to fix a problem that we don't want to support? …

[2016-07-14 14:31] discordier commented on #58
No, I want to ensure that data that MUST NOT get symlinked does not get symlinked.
Because before it was (for obvious reasons) forbidden and NOW you allow it.

[2016-07-15 00:30] discordier commented on #58
Yes, it is a new major Version and if we wouldn't encourage people to allow for BOTH versions (as your design approach to suggests to show how to be compatible between both, Contao 3 and Contao 4) there wouldn't be anything wrong with this.
However, we are encouraging people to do exactly this and therefore we allow bad installation in Contao 4 where we prevent bad installation in Contao 3. Appare

[2016-09-13 12:15] cboelter opened #60 "Composer update wirft DuplicateContaoException"
Hi zusammen,

bisher lief der Composer bei unserer Installation von Contao 3.4.5 ohne Probleme. Jetzt bekomme ich bei einem composer update immer folgende Meldung:

`[ContaoCommunityAlliance\Composer\Plugin\DuplicateContaoException]
  Warning: Contao core 3.5.15 was about to get installed but 3.4.5 has been found in project root, to recover from this problem please restart the operation
`
Soweit i

[2016-09-13 12:20] aschempp commented on #60
Hast du den Text mal gelesen?

to recover from this problem please restart the operation

[2016-09-13 12:21] cboelter commented on #60
Ja habe ich ... ich habe das Update auch mehr als einmal ausgeführt, hat aber nichts gebracht.

[2016-09-16 10:10] cboelter commented on #60
Ich habe es jetzt mit folgendem Hinweis gelöst: https://community.contao.org/de/showthread.php?57346-Contao-Core-wird-als-Installation-angezeigt&p=371974&viewfull=1#post371974

[2016-09-16 10:10] #60 closed

[2016-11-16 10:53] Toflar opened #61 "[2.4] Plugin should be working on both, composer update and composer install"
I need @discordier's help here because I'm not really familiar with the plugin. My issue is regarding the cloud (but not limited to it). Basically whenever you upload a `composer.lock` file you resolved elsewhere (e.g. also locally), it writes e.g. `tcpdf` etc. into the `composer.lock` file. Imho the plugin should also activate itself when I then run a `composer install` on the target system so it

[2016-11-16 11:47] aschempp commented on #61
I wonder why the "disallowed" packages are still added to the `composer.lock`, and if this is also the case for v3?

[2016-11-16 11:49] Toflar commented on #61
Because I did not execute any pre update events.

[2016-11-16 16:32] discordier commented on #61
The plugin can not ignore them as it has nothing to do with the installation itself (aside from symlinking stuff).
Your problem is already in the solver phase, which the plugin does not interfere with (aside from injecting the installed contao version which you do not have in the cloud based solving).

After discussion on mumble, we came to the conclusion that the cloud should try to use `Installe

[2016-11-16 16:32] #61 closed

[2016-11-21 12:18] fritzmg opened #62 "relative symlinks do not work on Windows"
When trying to install a Contao 3 extension in Contao 4 that is compatible with Contao 4, the composer-plugin tries to create a relative symlink from `/system/modules/…` to `/vendor/…` » https://github.com/contao-community-alliance/composer-plugin/blob/3.0.4/src/Installer/AbstractModuleInstaller.php#L240

However, this will fail on Windows. See https://github.com/contao/core-bundle/issues/208#issu

[2016-11-28 07:31] aschempp commented on #62
@discordier any reason we're not using AppVeyer to test on windows?

[2016-11-28 09:05] discordier commented on #62
Not really. Will set it up.

[2016-11-28 14:41] discordier commented on #47
Is the problem still existing in 3.0.4?
If not, I'm tempted to close this.

[2016-11-28 14:42] discordier commented on #10
Closing as we imply it as fixed

[2016-11-28 14:42] #10 closed

[2016-11-28 14:44] discordier commented on #25
Will not implement, it simply is not working and not worth the hassle

[2016-11-28 14:44] #25 closed

[2016-11-28 14:46] discordier commented on #48
We can not reduce the memory from within the plugin.
This will however be worked around by the new cloud resolver by @Toflar.

[2016-11-28 14:46] #48 closed

[2016-11-28 14:48] fritzmg commented on #48
Fancy :)

[2016-11-28 14:50] discordier commented on #37
The problem does not exist in 3.0 anymore.

[2016-11-28 14:50] #37 closed

[2016-11-28 14:52] discordier commented on #24
In Contao 4, everything is symlinked if needed - not an issue for 3.X anymore.

[2016-11-28 14:52] #24 closed

[2016-11-28 14:55] discordier commented on #62
@fritzmg could you provide a unit test? I just set up appveyor which should then point out the problem.

[2016-11-28 14:59] fritzmg commented on #62
I don't know, I have never created unit tests 😁
I'll see what I can do.

[2016-12-08 17:53] bezin commented on #62
I just stumbled upon the same issue while trying to make an Contao 3.5 extension Contao 4 compatible and I can confirm this.

[2016-12-08 20:53] discordier commented on #62
Unit test? Example information? Anything?

These "mee too" comments lead us to nowhere, we need test data to reproduce a problem.
This means you should supply us with the minimum file layout and configuration to reproduce the problem.

In your comment you write that:
- you "can confirm this", this was undisputed.
- you had the problem while trying to make an Contao 3.5 extension compatible - which

[2016-12-09 08:58] fritzmg commented on #62
There is already a test for symlinks: https://github.com/contao-community-alliance/composer-plugin/blob/3.0.4/tests/ContaoModuleInstallerTest.php#L99-L130

[2016-12-12 17:04] Toflar opened #63 "[2.4] Post Install Command is not handled"
The housekeeping and runonce stuff is currently only handled on the post update event.
It should, however, also run when you run `composer install`.

See https://github.com/contao-community-alliance/composer-plugin/blob/support/2.4/src/ContaoCommunityAlliance/Composer/Plugin/Plugin.php#L137

[2016-12-13 07:21] aschempp commented on #63
This was probably never noticed because the composer client does only do `update`…

[2016-12-13 07:23] aschempp commented on #62
@discordier do we have AppVeyor now?

[2016-12-13 17:57] discordier commented on #62
We should, however we have build issues as it seems, will bump the appveyor config from core-bundle and check if it works out.
https://ci.appveyor.com/project/contaocommunityalliance/composer-plugin

[2016-12-13 19:15] discordier commented on #62
Appveyor is up and running and failing tests like a charm.
However, there are completely different tests that are failing as it seems. some related to path naming.
Will try to sort them out.

yet the original issue stands, does the above linked test reproduce the issue by @fritzmg or do we need another unit test for this?

[2016-12-13 23:42] discordier commented on #63
V3 does not do any of the maintenance tasks needed in V2.4, therefore it naturally is not affected. :smile_cat:

[2016-12-14 02:47] discordier commented on #62
Ok, I fixed several problems already. However, appveyor still breaks on 3 tests and I fail to see why.

I fired up a Windows at a customer and ran the tests there. Only one failing there.

@fritzmg You seem to have comprehensive experience with Windows debugging of the symlink issues, could you have a look on the remaining test cases and tell me why they might fail to create the links?

Funny part

[2016-12-14 07:01] fritzmg commented on #62
Which PHP version is used for testing?

[2016-12-14 16:51] discordier commented on #62
5.6 and 7.0 so far.

[2016-12-14 17:04] fritzmg commented on #62
Hm, it's weird that the creation of the relative symlink works. It still has not been fixed in any PHP version, including PHP 7: https://github.com/php/php-src/pull/1243

I have no experience with AppVeyor, how exactly are these Tests run? Can I run these tests locally?

[2016-12-14 17:19] fritzmg commented on #62
I ran
[code]
locally and got
[code]

[2016-12-21 11:53] fritzmg opened #64 "plugin keeps readding superfluous legacy repository path"
As of version `0.16.4`, the `composer-client` initializes the `composer.json` with the following information for the legacy repository:
[code]
https://github.com/contao-community-alliance/composer-client/blob/0.16.4/src/system/modules/!composer/src/Runtime.php#L84-L88

However, the `composer-plugin` always adds
[code]
when not present. So if you remove those lines, next time you do a composer upda

[2016-12-22 00:05] discordier commented on #64
Sadly we can not remove this adding of the repo and all manipulation of the composer.json within a minor release, can we?
In version 3, this is all gone.
IMO we might be able to remove the repository settings if no legacy-packages are mentioned in the require section anymore.

What do the others think about this? /cc @aschempp, @toflar?

[2016-12-22 08:26] aschempp commented on #64
Well I don't see why both the client and the plugin must add these lines. I think they should be removed from the client and the plugin should add the new URL. Nothing fancy, no problem for a patch release?

[2016-12-22 08:33] fritzmg commented on #64
The client does not 'add' these lines. The client initializes the whole composer.json in the first place.

[2016-12-22 09:45] discordier commented on #64
@aschempp I was talking about making the plugin aware if the line is needed and removing it if not needed anmyore.
The bootstrapping in the client has to remain however.

[2016-12-22 09:46] aschempp commented on #64
I don't get it. Why would the plugin need something different than the client? And the plugin already checks if it's settings is there and only adds if not…

[2016-12-22 09:55] discordier commented on #64
I AM TALKING ABOUT MAKING THE PLUGIN REMOVE THE REPOSITORY IF NOT IN USE ANYMORE!!!!

As soon as there is not a single `contao-legacy/*`package mentionend anymore, the repository does not have to get added at all.
And, the plugin does not need anything on its own, as adding the repository from the plugin is way too late as it will only get installed when resolving has already been done but that wi

[2017-01-25 15:08] FredTheFrog opened #65 "Ergonomics of the composer is not self-explanatory"
Today I installed the composer and I do not find it as self-explanatory as I am used to from Contao. When I choose a package for installation it is afterwards red in the version shown instead of green.
The user doesn't know why:
1. Is it because it is not installed?
2. Is it because installation went wrong?
3. Is it because a non stabile version has been chosen?
Maybe we can add a title to the ver

[2017-01-25 16:21] aschempp commented on #65
You're probably referring to the Composer Client (https://github.com/contao-community-alliance/composer-client) not the Plugin.

[2017-01-25 16:35] FredTheFrog commented on #65
Of course! I am sorry. Will close it here.

[2017-01-25 16:35] #65 closed

[2017-02-13 08:53] fritzmg commented on #62
Any updates on this? This makes developing a Contao 4 website currently rather inconvenient for me. I can make a PR for the absolute symlink fallback if you want.

[2017-02-13 10:06] aschempp commented on #62
So the necessary changes is basically this?
https://github.com/contao/core-bundle/commit/77c1c106110aaf75152be5deccdc03f3ea093393#diff-eebbebd36be2522e4a8c571895b59325R183

Do you get the IOException?

[2017-02-13 10:10] fritzmg commented on #62
I guess, I haven't yet looked at how it was actually implemented in Contao 4.

No, but the IOException comes from Symfony. The composer plugin does not use Symfony for symlinks, does it?

[2017-02-13 22:41] fritzmg commented on #62
Also Contao does not use a fallback on failure at all. It simply check if the directory separator is `\` and if so, it creates absolute symlinks: https://github.com/contao/core-bundle/blob/4.3.3/src/Util/SymlinkUtil.php#L38-L39

[2017-02-14 13:57] comolo opened #66 "Versionsnummern - Falsche Reihenfolge"
Hallo,

wenn ich mein Plugin Supertheme (comolo/contao-supertheme) über den Composer installieren möchte, werden die Versionen nicht in der richtigen Reihenfolge angezeigt. Bsp: 2.2.5 vor 2.3.1

![bb16ac54-f2a7-11e6-9647-2f4ff115133d](https://cloud.githubusercontent.com/assets/1228676/22931594/81ebeb1a-f2c5-11e6-9728-97bb9c8e5bc3.png)

[2017-02-14 13:59] aschempp commented on #66
Das Backend ist der Composer Client (https://github.com/contao-community-alliance/composer-client), bitte das Ticket dort neu erstellen.

[2017-02-14 13:59] #66 closed

[2017-02-14 21:05] discordier commented on #62
So both are failing for you? core-bundle and composer-plugin?

[2017-02-21 14:53] fritzmg commented on #62
No, core-bundle works, there was some other issue. But composer-plugin still gives me the initially described problem.
[code]

[2017-03-01 12:30] fritzmg commented on #64
This problem exists even with the newest version of the `composer-client`. The `composer-client` initializes the `composer.json` with
[code]
but the `composer-plugin` adds
[code]
(with a slash at the end)

[2017-03-26 18:58] aschempp commented on #62
@discordier I saw you added a branch related to this, can this be finalized so we can release 3.0.5 ?

[2017-03-27 16:27] discordier commented on #62
We can surely try to finalize this, yet I lack the time to do this right now.

Maybe I could try to squeeze it in next week.

[2017-04-05 14:59] m-vo commented on #62
(I stumbled across this topic when trying to add *codefog/haste* (which requires the ComposerPlugin) to a contao 4.3 installation on a windows machine (PHP7) resulting in the same *Failed to create symlink xyz* error.)

...so just to sum it up:
 - `addSymlinks(...)` gets called during install and normalizes source and target paths
 - it then calls `Composer\Util\Filesystem->relativeSymlink(...)`
[

[2017-04-05 15:50] fritzmg commented on #62
Yes 😉 . Symfony does the same fallback.

[2017-04-05 17:09] m-vo commented on #62
Right, I did a quick test and it seems to work without a problem so far!

For my test, I just replaced this (https://github.com/contao-community-alliance/composer-plugin/blob/3.0.4/src/Installer/AbstractModuleInstaller.php#L240-L242):
[code]
with this:
[code]

[2017-04-21 06:43] fritzmg commented on #62
@m-vo looks good, tested it as well. Can you please make a PR?

[2017-04-23 11:14] m-vo commented on #62
@fritzmg Allright, I'll try my best (might take until mid next week, though).

[2017-04-23 12:49] fritzmg commented on #62
Since it's a simple fix, you could also just use the edit button here on GitHub ;)

[2017-04-23 13:00] m-vo commented on #62
You're so right :-) First time I tried the online editor, hope it worked.

[2017-04-25 10:21] aschempp commented on #62
Fixed in #67

[2017-04-25 10:21] #62 closed

[2017-05-29 11:46] denniserdmann opened #68 "[3.X] Bringing back folder copy for extra:contao:files/userfiles"
In Contao 3, i used composer to copy a folder to `files`, which the user could change without being afraid that composer will override changed files, see http://de.contaowiki.org/Composer/Tutorial:_Extension_für_Composer_fit_machen#Contao_Konfiguration

Now, in Contao 4 this Function is not working anymore. I get an error instead

[code]

Problem is also discussed here: https://community.contao.or

[2017-05-29 11:50] fritzmg commented on #68
To clarify: this error happens because you are trying the `"extra"` option `"userfiles"` instead now, since the `"files"` option only existed in `composer-plugin` `2.x` and Contao 4 requires `3.x`.

[2017-05-29 11:58] aschempp commented on #68
`userfiles` is the correct name according to the README: https://github.com/contao-community-alliance/composer-plugin/tree/support/2.4#userfiles

Using `files` is probably just a BC-leftover in version 2, but we removed BC in v3 (that's why it's a new major 😉 )

[2017-05-29 12:01] fritzmg commented on #68
@aschempp with the (old) `files` option you were able to define whole directories to be copies. With the `userfiles` option that does not work anymore. It only supports individual files, not whole folders.

[2017-05-29 14:06] aschempp commented on #68
Can you try the `hotfix/3.0.6` branch?

[2017-05-29 15:13] denniserdmann commented on #68
@aschempp looks good. folder is copied into `files` and won't be removed when uninstalling package.

[2017-05-29 15:31] aschempp commented on #68
/cc @discordier

[2017-06-21 06:15] fritzmg opened #69 "Contao 4: is there a way to regenerate symlinks?"
When installing a Contao 3 extension in Contao 4, the composer-plugin generates symlinks from `system/modules/…` to the vendor folder of the extension (as well as symlinks in `web/` I think?).

However, what if you need to regenerate these symlinks? E.g. under windows when you move the installation or if a symlink gets lost. There is no command to do that, is there? Currently the only way I figure

[2017-06-21 07:04] aschempp commented on #69
I guess the best way would be to add a composer script (through the plugin).

[2017-07-20 13:11] biwerr opened #70 "Creating relative symlinks fail on Linux"
Looks like there are some problems with relative symlinks on linux.

`Failed to create symlink | target: /var/www/web556/html/cms/system/modules/euf_grid | source: /var/www/web556/html/cms/vendor/erdmannfreunde/euf_grid`

I've replaced creating relative links with absolute links, seems to work

[code]

[code]

[2017-07-28 13:12] Toflar commented on #69
@fritzmg will you work on a PR here?

[2017-08-02 15:31] fritzmg commented on #69
I'll try.

The command then also needs to be added to the `contao/installation-bundle` [here](https://github.com/contao/installation-bundle/blob/4.4.2/src/EventListener/InitializeApplicationListener.php#L34-L58), am I right? But I don't think the installation bundle should or can use Commands from and independent package..?

[2017-08-02 16:17] Toflar commented on #69
Imho we could modify the `manager-bundle` in a way that it provides a general `contao:setup-managed-edition` command which basically does everything that currently resides in https://github.com/contao/manager-bundle/blob/master/src/Composer/ScriptHandler.php#L30.

The `ScriptHandler` would then only call `static::executeCommand('contao:setup-managed-edition', $event);`
In the `installation-bundle`

[2017-08-02 16:28] fritzmg commented on #69
Yes, but where does a command from an arbitrary bundle/package come into play? May be through a custom event?

[2017-08-03 14:08] aschempp commented on #69
@Toflar completly misunderstood the topic. It's not related to any Contao bundle at all, as this is the composer plugin for Contao 3 modules. Apparently, Composer is not triggering the install event if the package is not actually installed. Dunno if there is a *repair* event or something we could always listen to…

[2017-08-22 13:42] bezin commented on #68
What is the status on this issue? Anything where I may contribute? Would love to use the Nutshell starterkit in Contao 4 :)

[2017-08-22 15:29] denniserdmann commented on #68
same here ;-)

[2017-08-23 06:18] aschempp commented on #68
I have release 3.0.6

[2017-08-23 06:18] #68 closed

[2017-09-04 13:36] Toflar commented on #69
Fixed in PR https://github.com/contao-community-alliance/composer-plugin/pull/71

[2017-09-05 09:33] #69 closed

[2017-09-14 12:09] fritzmg commented on #69
Ever since this change I randomly get the error
[code]
when running a composer update. For some reason, the plugin is unable to remove the existing symlink (though user rights etc. are fine).

[2017-09-14 12:55] Toflar commented on #69
I guess that's not related, I had this too and @aschempp fixed with https://github.com/contao-community-alliance/composer-plugin/commit/6bb098d34191fccb03579bf9ad37b14435951565, sure you are on the latest version?

[2017-09-14 14:13] fritzmg commented on #69
Actually no - looking at the output I saw an update of the composer-plugin package in the last project where that happened.

[2017-09-14 14:13] Toflar commented on #69
So that should be gone then :)

[2017-09-17 11:03] fritzmg opened #72 "local repositories not supported in Contao 3?"
Today I tried to integrate a Contao 3 extension in a Contao 3 installation via
[code]
However, during install the following error happens:
[code]
At first glance it looks like an issue that only occurs under Windows, but looking at the code now, I am not sure if local repositories are even completely supported in version 2.x of the composer-plugin.

[2017-09-17 11:16] fritzmg commented on #70
And when running the composer update a second time it would say
[code]

[2017-09-20 08:51] aschempp commented on #72
They're probably not supported… Version 2.x of the plugin is hardly maintained, I don't think we're going to add new features. Except if you would provide a PR …

[2017-09-20 08:53] aschempp commented on #70
Looks like that's an issue on your system? Relative symlinks usually work on Linux but not in Windows. Can you try if they work on the command line?

[2017-09-20 08:55] aschempp commented on #72
I just realized you already did 😂
Closing this in favor of #73

[2017-09-20 08:55] #72 closed

[2017-09-20 09:04] biwerr commented on #70
This was symlink creation at command line on an ssh shell at my reseller account on alfahosting. Seems there are some problems with hosting packages.

I've switched to a diffrent hosting partner and there where no problems.

Maybe try to fix this possible bug with first creating relative symlinks and if that fails switch to absolute symlinks?
[code]

[2017-10-13 08:35] denniserdmann opened #74 "Contao 4: Copy files outside files-folder with composer"
In #68, we were talking about adding static files (not symlinks) to the files folder. Now i'm looking for a way to copy files to a folder outside of `files`, for example into `templates` or even to the root (for files like package.json, gulpfile.js).

In Contao 3.5 it doesn't matter, where you want to add your files, but in C4 this isn't working anymore. Is there a chance, that this function is co

[2017-10-13 09:02] aschempp commented on #74
What do you mean it didn't matter in Contao 3.5?

[2017-10-13 09:36] denniserdmann commented on #74
In Contao 3.5 i am able to copy a file to from a repository into `root` or `/templates`

[2017-10-13 09:42] aschempp commented on #74
How do you copy instead of symlink in 3.5?

[2017-10-13 09:43] fritzmg commented on #74
It probably does not make any sense to copy templates into the `/templates` folder. And in Contao 4 there shouldn't be any requirement to copy anything else anywhere anymore. What exactly do you want to achieve?

That's the default behavior.

[2017-10-13 10:58] denniserdmann commented on #74
I was using composer to install our nutshell framework kit, a boilerplate that, once installed, can be modified by the user (that why i copy instead of symlink).

I liked the idea to install a boilerplate via composer, but it looks like downloading and copying files by hand is now the only way to install the kit.

For more details, check: https://github.com/ErdmannFreunde/euf_nutshell_kit/issues/2

[2017-10-13 11:18] fritzmg commented on #74
I think your use case is better done with a composer boiler plate. There you can pre-populate anything you want.

[2017-10-16 13:30] aschempp commented on #74
Well a user can always edit the templates of an extension, why would you need to copy them to the root folder?

[2017-10-16 16:45] denniserdmann commented on #74
@aschempp sorry for the misunderstanding.
I don't want to copy templates to root. I want to copy templates to the templates-folder and files like a gulp file.js or package.json to the root-folder. But as @fritzmg said, maybe the better way is to create a project boiler plate.

@fritzmg Do you know good resources how to create a project boiler plate?

[2018-03-11 13:08] zonky2 opened #75 ""Failed to create symlink" at Windows"
Win 64
Contao 4.4.14
composer update console with admin rights

I install Contao 4.4 per console - works fine...

I just try to install MM 2.1 at this testcase but the fail RunTimeExceptin stop the process.

May be methode `AbstractModuleInstaller->addSymlinks()` should similar like https://github.com/isotope/core/pull/1894/files

Error:
[code]

[2018-03-13 22:10] zonky2 commented on #75
I delete all symlinks and run composer update - now works!

[2018-03-13 22:10] #75 closed

[2018-07-21 20:39] squidi opened #76 "Contao 4.6.0-RC1 und contao-community-alliance/composer-plugin"
bei der Installation von Erweiterungen, egal ob über Manager oder Console, die als Abhängigkeit

Code: "contao-community-alliance/composer-plugin":"~2.4 || ~3.0"

beinhalten, können diese nicht installiert werden, weil stehst versucht wird, die Version 2.4.3 zu laden, diese ist aber nicht kompatibel.

siehe auch => [https://community.contao.org/de/showthread.php?71412-Contao-4-6-0-RC1-und-contao-c

[2018-07-22 07:42] fritzmg commented on #76
This is because Contao 4.6 is compatible to Symfony 4, while `contao-community-alliance/composer-plugin:^3.0` is not compatible or unlocked for Symfony 4 and `contao-community-alliance/composer-plugin:^2.0` does not have any conflicts or dependencies regarding Symfony or Contao.

[2018-07-22 21:40] aschempp commented on #76
Fixed with #77, thanks @fritzmg

[2018-07-22 21:40] #76 closed

[2018-10-03 15:32] xApep opened #79 "Contao 3.5.36 can't install composer"
Hi. I'm using Windows and WAMP. Is there any requirement to install composer (I have installed composer via windows setup)?

When I click Install composer, nothing happens.

![image](https://user-images.githubusercontent.com/1315340/46421531-91033980-c732-11e8-9896-54fd2260783a.png)

Thanks.

[2018-10-03 15:53] fritzmg commented on #79
This issue is probably more for the composer-client, not the composer-plugin.

[2018-10-04 06:13] xApep commented on #79
Thanks. Moved to [#317](https://github.com/contao-community-alliance/composer-client/issues/317)

[2018-10-05 18:16] #79 closed

[2019-09-17 13:55] m-vo opened #80 "Console Error with Contao 4.8.3"
I get the following error with Contao 4.8.3 when I'm trying to dump detailed config via the console (e.g. with `vendor/bin/contao-console config:dump-reference twig`):

[code]

[2019-09-17 14:22] baumannsven commented on #80
In the stack trace is see the problem comes not in this repository. The `contao-community-alliance/dependency-container` i think is the right place.

@m-vo Can you post or send per mail your composer.json?

[2019-09-17 15:06] m-vo commented on #80
Ah, oops. :smile: You're right of course. Can you transfer the issue?

The dependency is brought in via

[code]

[2019-09-17 15:12] baumannsven commented on #80
Use the mcw bundle. I think this fix your problem. The mcw bundle not require the dic from cca. https://packagist.org/packages/menatwork/contao-multicolumnwizard-bundle

[2019-09-17 15:25] fritzmg commented on #80
@baumannsven according to the dependency tree, the mcw bundle is already in use.

[2019-09-17 15:28] baumannsven commented on #80
Oh that’s right. It comes from sub requirements. Sorry

[2020-04-07 08:40] Toflar opened #81 "Update for Composer v2"
See composer/composer#8726

[2020-04-08 07:45] aschempp commented on #81
I have added experimental support in 54b6f5fd7ab71afd53a5bf55b33633be75c5d4db

[2020-07-18 13:30] fritzmg commented on #81
Seems to work fine 👍 :)

[2020-09-24 20:53] #11 closed

[2020-09-24 20:53] #21 closed

[2020-09-24 20:53] #26 closed

[2020-09-24 20:53] #38 closed

[2020-09-24 20:53] #47 closed

[2020-09-24 20:53] #58 closed

[2020-09-24 20:53] #63 closed

[2020-09-24 20:53] #64 closed

[2020-09-24 20:53] #70 closed

[2020-09-24 20:53] #74 closed

[2020-09-24 20:54] aschempp commented on #81
Released as version 3.1.0

[2020-09-24 20:54] #81 closed

[2020-10-15 13:17] fritzmg opened #82 "Symlink is not removed"
If you install a Contao 3 extension and then deinstall it again, it will lead to the following error, when Composer is runing the post-update/post-install script of the **Contao Managed Edition**:

[code]

#### Reproduction

* Execute `composer require contao-community-alliance/composer-plugin:^3.1.2`.
* Execute `composer require fritzmg/contao-sharebuttons` for example.
* Execute `composer remove

[2020-10-16 06:45] aschempp commented on #82
fixed in 05e0b0fd484bbb52c21f7712fcb25a7195ec1c05

[2020-10-16 06:45] #82 closed, assigned to nobody

[2020-11-26 15:55] Tastaturberuf opened #83 "PHP 8 Support"
Reicht es die composer.json anzupassen? Dann mach ich gerne PR. 😂

[2020-11-26 16:02] fritzmg commented on #83
Just test it with `--ignore-platform-req=php` ;)

[2020-11-26 16:28] discordier commented on #83
I'd love to have this plugin phased out... when moving to PHP 8, one should finally have changed the Extension to a proper bundle instead of still relying on Contao 3.5 behaviour.

I mean, for most extensions it is a matter of:
- Shuffle files around
- Add the plugin
- remove autoload.ini

This would clear a bunch of deprecations in Contao then...

[2020-11-29 14:28] Tastaturberuf commented on #83
@discordier Mit Contao 5, sind wir uns alle einig, brauchen wir das nicht mehr supporten. Vielleicht auch vorher, das sollte aber an die Contao-Version und nicht an die Platform gekoppelt sein. Es macht aber keinen Sinn, weil es mit PHP 7 und der gleichen Contao-Version eben geht.

[2020-11-30 08:26] discordier commented on #83
This then still depends on https://github.com/contao/contao/pull/2291 which seems stuck for the moment - you see, it works with PHP and the same Contao version but NOT with PHP 8 and the same Contao version.

As I see some considerable amount of workload in Contao core still to be done to make that one work. I simply feel it won't be worth the hassle to bump this one also to PHP 8.
While it should

[2020-12-01 10:43] dmolineus commented on #83
The Contao 4 support of the plugin was intended for the migration to Contao 4 structure. If you want to upgrade a Contao project to **new** platform requirements, you should also upgrade the project accordingly. I agree with @discordier that we from the Contao Community Alliance will not invest time in a dying technology.

If someone wants to achieve PHP 8 compatibility of his project by updating

[2020-12-15 09:25] aschempp commented on #83
I've discussed this with the Contao core team. There are plenty of Contao 3.x extensions that are still maintained for Contao 4, including most of the top @terminal42 modules (e.g. notification center). We (@terminal42) usually do not just restructure for Contao 4, because that would be an unnecessary BC break for existing users/devs (there are >10 extensions to Notification Center: https://extens

[2020-12-15 13:05] discordier commented on #83
As stated above, we are not heavily against it but argue that there are should not be bc breaks when simply restructuring (introducing a bundle class and dropping the non functional legacy autoloader).
Keeping them as Contao 3 modules merely simply causes a ton of deprecation messages.

It would be interesting to know the views of the Contao core team on the matters of what is recommended.
Current

[2020-12-15 13:53] aschempp commented on #83
Well if I move legacy classes to a bundle, I would need to (or am highly encouraged to) adjust the namespace => BC break? Also, what deprecation messages do you get that you wouldn't get after restructuring?

[2020-12-21 21:54] aschempp commented on #83
Updated in bddeff9af32b7f271afb7814d8c94a80fe7b32c8

[2020-12-21 21:54] #83 closed, assigned to nobody

[2021-02-18 11:00] fritzmg opened #84 "Unlock/test for Symfony 5"
When installing a Contao 3 extension in a fresh Contao 4.11+ installation, a downgrade to Symfony 4 is necessary, since `contao-community-alliance/composer-plugin` still requires its Symfony dependencies in version `^4.0` at most. This makes the first installation of Contao 3 extensions in Contao 4.11 for not so savvy users more difficult. If possible the allowed versions for the finder and proces

[2021-02-18 14:28] aschempp commented on #84
@fritzmg would be good if you can figure this out. We're not using a lot of Sf methods so I guess it should be a matter of expanding the constraints.

[2021-02-18 15:08] fritzmg commented on #84
This would need to be adjusted, since the first parameter must be an array in Symfony 5 (and a string in Symfony 2.7):

https://github.com/contao-community-alliance/composer-plugin/blob/bddeff9af32b7f271afb7814d8c94a80fe7b32c8/src/UserFilesLocator.php#L99

However, I just noticed that the `UserFilesLocator` probably does not work at all in the Contao Managed Edition? It will probably always throw

[2021-02-18 15:56] fritzmg commented on #84
Draft PR: #85

[2021-03-01 07:38] aschempp commented on #84
I started a new minor version (3.2) in https://github.com/contao-community-alliance/composer-plugin/commit/db4bef0da2e10025a4678feca0a48589dc0e005c that drops support for anything older than Contao 4.9.

However:
 1. I don't think we should fix the UserFilesLocator, or at least that's not related to this stuff. If it hasn't been an issue the last few years, I wouldn't bother playing with it …
 2.

[2021-03-01 08:59] fritzmg commented on #84
Seems to work fine. Though personally I would not drop Composer 1.x yet (we still have projects that cannot be used with Composer 2.x - but those are not Contao 4.11, so that's fine) and increase the Symfony requirement to `^5.2`, as the other versions are EOL and thus dependency resolving can potentially be improved.

Yeah... that's still something that Composer should fix imho... it's very unrel

[2021-03-03 10:38] aschempp commented on #84
Composer 1 would still work with the plugin v3.1, which works fine with Contao 4.9. I don't think one should use Composer 1 with Contao 4.11.

Since Contao 4.11 only supports Symfony 5.2, and not other Contao version supports Symfony 5, that might make sense. I don't think it will improve performance though.

[2021-03-03 10:47] aschempp commented on #84
Updated in 5ba25a846ccf69344ae72d142488de0a1945b2d2 and release 3.2.0. Btw. the 3.2.0 bump is mostly so we could release patch-updates to 3.1 if necessary for whatever reason.

[2021-03-31 08:24] #84 closed, assigned to discordier, aschempp, baumannsven

[2022-03-30 11:24] bytehead opened #87 "[TypeError] Symfony\Component\Process\Process::__construct(): Argument #1 ($command) must be of type array, string given"
Happens during install with `composer` in version `2.3.0` (tested on PHP 8.1):

[code]

[2022-03-30 11:37] bytehead commented on #87
My guess: Composer 2.3.0 internally ships with a newer release of `symfony/process` which is not compatible anymore.

[2022-03-30 11:40] bytehead commented on #87
The argument was already an `array` in `symfony/process: 4.4`, but not typehinted: https://github.com/symfony/process/blob/4.4/Process.php#L132

[2022-03-30 11:46] bytehead commented on #87
Closed in favor of #88

[2022-03-30 11:46] #87 closed, assigned to nobody